@import url(./reset.css);
@import url(./variables.css);
@import url(./utilities.css);
@import url(../css/components/bg-noise.css);
@import url(../css/components/header.css);
@import url(../css/components/buttons.css);
@import url(../css/components/footer.css);
@import url(../css/components/marquee.css);
@import url(../css/components/accordion.css);

body {
    background-color: var(--color-bg-primary);
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Hero Desktop
========================================================================== */

.Hero {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: var(--spacing-xl);
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-primary);
}

.Hero-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: var(--spacing-nano);
}

.Hero-description {
    margin-top: var(--spacing-sm);
}

.Hero-img {
    width: 100%;
    max-width: 317px;
    height: auto;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-32px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* ==========================================================================
   Hero Mobile
========================================================================== */

@media (max-width: 768px) {
    .Hero {
        flex-direction: column;
        padding: var(--spacing-xl) var(--spacing-xs);
        text-align: start;
        gap: var(--spacing-md);
    }

    .Hero-info {
        width: 100%;
        align-items: start;
    }

    .Hero-description {
        margin-top: var(--spacing-xs);
    }

    .Hero-img {
        max-width: 320px; 
        margin-top: var(--spacing-md);
    }
}

/* ==========================================================================
   Portfolio Desktop
========================================================================== */

.Portfolio {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xl) var(--spacing-xl) 0 var(--spacing-xl);
    color: var(--color-text-primary);
}

.Portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(564px, 1fr));
    grid-gap: var(--spacing-sm);
    margin-top: var(--spacing-sm);
}

.Portfolio-card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.Portfolio-card:hover {
    transform: translateY(-8px);
}

.Portfolio-img {
    border-radius: var(--radius-md);
    width: 100%;
    height: auto;
    object-fit: cover;
}

.Portfolio-name {
    margin-top: var(--spacing-micro);
}


/* ==========================================================================
   Portfolio Mobile
========================================================================== */

@media (max-width: 768px) {
    .Portfolio {
        padding: var(--spacing-xl) var(--spacing-xs) 0 var(--spacing-xs);
    }

    .Portfolio-grid {
        grid-template-columns: 1fr; 
        grid-gap: var(--spacing-sm);
    }

    .Portfolio-card {
        width: 100%;
    }

    .Portfolio-name {
        text-align: start; 
    }
}

/* ==========================================================================
   Testimonios Desktop
========================================================================== */

.Testimonios {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xl) var(--spacing-xl) 0 var(--spacing-xl);
    gap: var(--spacing-sm);
    color: var(--color-text-primary);
}

.Testimonios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(564px, 1fr));
    gap: var(--spacing-sm);
}

.TestimoniosCard {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
    padding: var(--spacing-sm);
    gap: var(--spacing-lg);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-border-primary);
    transition: transform 0.3s ease;
}

.TestimoniosCard:hover {
    border: 1px solid var(--color-border-hover);
    transform: translateY(-8px);
}

.TestimoniosCard-txt {
    display: flex;
    gap: var(--spacing-micro);
    align-items: center;

}

.TestimoniosCard-autor {
    display: flex;
    gap: var(--spacing-micro);
    align-items: center;
}

.TestimoniosCard-info {
    display: flex;
    flex-direction: column;
}


/* ==========================================================================
   Testimonios Mobile
========================================================================== */

@media (max-width: 768px) {
    .Testimonios {
        padding: var(--spacing-xl) var(--spacing-xs) 0 var(--spacing-xs);
        gap: var(--spacing-sm);
    }

    .Testimonios-grid {
        grid-template-columns: 1fr; 
        gap: var(--spacing-sm);
    }

    .TestimoniosCard {
        padding: var(--spacing-sm);
        gap: var(--spacing-md); 
    }
}

/* ==========================================================================
   Hablemos Desktop
========================================================================== */

.Contact {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xl);
    gap: var(--spacing-lg);
    color: var(--color-text-primary);
    align-items: center;
}

.Contact-title {
    width: 100%;
}

.Contact-email {
    display: flex;
    width: 663px;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: var(--color-bg-primary);
    border-radius: var(--radius-md);
    border: solid var(--color-border-hover);
    border-width: 0 0 4px 0;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.Contact-email:hover {
    transform: translateY(-8px);
}

.Contact-emailText {
    color: var(--color-text-primary);
}

#emailText-span {
    color: var(--color-text-secondary);
}

.Contact-arrow {
    width: 40px;
    height: 40px;
    animation: desplazamiento 1s infinite ease-in-out;
}

@keyframes desplazamiento {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
  }


/* ==========================================================================
   Hablemos Mobile
========================================================================== */

@media (max-width: 768px) {
    .Contact {
        padding: var(--spacing-xl) var(--spacing-xs);
        gap: var(--spacing-sm);
    }

    .Contact-email {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        gap: var(--spacing-sm);
        padding: var(--spacing-sm);
    }

    .Contact-arrow {
        width: 24px;
        height: 24px;
    }
}

/* ==========================================================================
   Herramientas Desktop
========================================================================== */

.Tools {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--spacing-xl) var(--spacing-xl) var(--spacing-xl);
    gap: var(--spacing-sm);
    color: var(--color-text-primary);
}

.Tools-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
    gap: var(--spacing-md);
    list-style: none;
    padding-top: var(--spacing-sm);
}

.Tools-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-nano);
    transition: transform 0.2s ease;
}

.Tools-card:hover {
    transform: translateY(-5px);
}

.Tools-icon {
    width: 80px;
    height: 80px;
}


/* ==========================================================================
   Herramientas Mobile
========================================================================== */

@media (max-width: 768px) {
    .Tools {
        padding: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
        gap: var(--spacing-sm);
    }

    .Tools-list {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas en mobile */
        gap: var(--spacing-sm);
    }

    .Tools-icon {
        width: 64px;
        height: 64px;
    }
}

/* ==========================================================================
   Sobre mí Desktop
========================================================================== */

.AboutMe {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--spacing-xl);
    gap: var(--spacing-sm);
    color: var(--color-text-primary);
}

.AboutMe-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--spacing-md);
    align-items: center;
    padding-top: var(--spacing-sm);
}

.AboutMe-content {
    display: grid;
    flex-direction: column;
    justify-items: end;
    gap: var(--spacing-md);
}

.AboutMe-image {
    width: 100%;
    height: auto;
    border-radius: var(--radius-md);
    object-fit: cover;
}

/* ==========================================================================
   Sobre mí Mobile
========================================================================== */

@media (max-width: 768px) {
    .AboutMe {
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
    }

    .AboutMe-container {
        grid-template-columns: 1fr; /* Cambiamos a una sola columna */
        gap: var(--spacing-sm);
    }

    .AboutMe-content {
        justify-items: center; /* Centramos el contenido */
        text-align: center; /* Opcional: alinear texto al centro si es necesario */
    }
}

/* TABLET

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


DESKTOP 

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    } 
} */