<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>

    <footer>
        <div class="footer__icons">

            <div class="icon">
                <a href="https://www.linkedin.com/in/cesarcordovar/">
                    <img src="../../src/images/linkedin.svg" alt="logo linkedin">
                    <span class="txt-body-lg color-txt-primary">LinkedIn</span>
                </a>
            </div>

            <div class="icon">
                <a href="https://www.behance.net/cesarcordova">
                    <img src="../../src/images/behance.svg" alt="logo behance">
                    <span class="txt-body-lg color-txt-primary">Behance</span>
                </a>
            </div>

            <div class="icon">
                <a href="https://api.whatsapp.com/send/?phone=34687132721&text&type=phone_number&app_absent=0">
                    <img src="../../src/images/phone-call.svg" alt="icono celular">
                    <span class="txt-body-lg color-txt-primary">+34 687 13 27 21</span>
                </a>
            </div>

            <div class="icon">
                <img src="../../src/images/marker.svg" alt="icono ciudad">
                <span class="txt-body-lg color-txt-primary">Valencia, España</span>
            </div>

        </div>


        <div class="footer__legal">
            <span class="txt-body-sm color-txt-secondary">© 2025 - Cesar Cordova</span>
        </div>

    </footer>

</body>

</html>