<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <header>
            <!-- Logo -->
            <img class="header__logo" src="../../src/images/brand-logo.svg" alt="logo cesar cordova">

            <!-- Lista de navegación -->
            <nav class="header__nav">
                <ul>
                    <li class="txt-body-lg"><a href="../../index.html">Inicio</a></li>
                    <li class="txt-body-lg"><a href="../sobre-mi.html">Sobre mí</a></li>
                    <li class="txt-body-lg"><a href="../portfolio.html">Portfolio</a></li>
                </ul>
            </nav>

            <button class="btn__primary"><a href="../hablemos.html"></a>¡Hablemos!</button>
    </header>

</body>
</html>