<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <header class="Header">
        <!-- Logo -->
        <a href="/index.html" class="Header-logo">
            <img src="/src/images/brand-logo.svg" alt="César Córdova - UX/UI Designer">
        </a>
        <!-- Lista de navegación -->
        <nav class="Header-nav">
            <ul class="Header-list txt-body-lg">
                <li> <a href="/index.html" class="Header-link">Inicio</a> </li>
                <li> <a href="/html/sobre-mi.html" class="Header-link">Sobre mí</a> </li>
                <li> <a href="/html/portfolio.html" class="Header-link">Portfolio</a> </li>
            </ul>
        </nav>
        <a href="/html/hablemos.html" class="btnPrimary">¡Hablemos!</a>
    </header>

</body>
</html>