.btnPrimary {
  font-family: var(--font-family-display);
  font-size: var(--fs-text-display-sm);
  line-height: var(--lh-text-display-sm);
  letter-spacing: var(--ls-text-display-sm);
  font-weight: var(--fw-text-display-sm);
  padding: var(--spacing-micro) var(--spacing-xs); 
  color: var(--color-text-primary);
  background-color: var(--color-brand-primary);
  border-radius: var(--radius-md);
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.btnPrimary:hover {
    background-color: var(--color-brand-hover);
    transform: translateY(-5px);
  }