/* ==========================================================================
   Header Desktop
========================================================================== */

.Header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-lg);
    background-color: var(--color-bg-secondary);
    backdrop-filter: var(--blur-lg);
    z-index: 2;
}

.Header-logo img {
    height: 48px;
}

.Header-nav-desktop {
    display: flex;
    justify-content: center;
}

.Header-nav-desktop .Header-list {
    display: flex;
    gap: var(--spacing-md);
    list-style: none;
    margin: 0;
    padding: 0;
}

.Header-link {
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.Header-link:hover {
    color: var(--color-text-secondary);
}

.Header-contact-desktop {
    display: block;
}


/* ==========================================================================
   Header Mobile
========================================================================== */

.Header-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.hamburger-icon,
.close-icon {
    width: 24px;
    height: 24px;
}

.close-icon {
    display: none;
    position: absolute;
    right: var(--spacing-lg);
    top: var(--spacing-lg);
}

.Header-mobileMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-bg-primary);
    z-index: 1;
}

.Header-nav-mobile {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
}

.Header-nav-mobile ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    gap: var(--spacing-xl);
}

.Header-contact-mobile {
    display: none;
}


/* ==========================================================================
   Header Tablet Full Screen
========================================================================== */

@media (min-width: 769px) and (max-width: 1024px) {
    .Header-logo img {
        height: 32px;
    }

    .Header-nav-desktop .Header-list {
        gap: var(--spacing-md);
    }
}

/* ==========================================================================
   Header Mobile Full Screen
========================================================================== */

@media (max-width: 768px) {
    .Header-nav-desktop,
    .Header-contact-desktop {
        display: none;
    }

    .Header-toggle {
        display: block;
        order: 1;
    }

    .Header-mobileMenu.active {
        display: block;
    }

    .Header-mobileMenu.active .Header-nav-mobile {
        display: flex;
    }

    .Header-contact-mobile {
        display: block;
    }

    .Header.active .hamburger-icon {
        display: none;
    }

    .Header.active .close-icon {
        display: block;
        position: fixed;
    }

    .Header {
        padding: var(--spacing-xs);
    }

    .Header-logo img {
        height: 32px;
    }
}