/* ==========================================================================
   Marquee 
========================================================================== */

.Marquee {
    overflow: hidden;
    display: flex;
    white-space: nowrap;
    gap: var(--spacing-lg);
    padding: var(--spacing-xs);
    background-color: var(--color-bg-primary);
    border:solid var(--color-border-secondary);
    border-width: 1px 0;
}

.Marquee-content {
    display: flex;
    animation: scroll-horizontal 24s linear infinite;
    gap: var(--spacing-lg);
}

.Marquee-item {
    display: flex;
    align-items: center;
    gap: var(--spacing-nano)
}

.Marquee-icon {
    width: 14px;
    height: 14px;
}

.Marquee-txt {
    color: var(--color-text-positive);
}

@keyframes scroll-horizontal {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-50%);
    }
}